body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    background-color: aquamarine;
    font-size: 56px;
    font-style: italic;
    text-align: center;
}

.list {
    font-size: 24px;
    font-weight: 700;
}
